.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .screen .div {
    background-color: #ffffff;
    height: 1620px;
    overflow: hidden;
    position: relative;
    width: 1739px;
  }
  
  .screen .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    height: 180px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -1px;
    width: 588px;
  }
  
  .screen .view {
    background-color: #ffffff;
    height: 331px;
    left: 0;
    position: absolute;
    top: 296px;
    width: 1739px;
  }
  
  .screen .profile-user {
    height: 279px;
    left: 26px;
    object-fit: cover;
    position: absolute;
    top: 26px;
    width: 279px;
  }
  
  .screen .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    height: 126px;
    left: 371px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 39px;
    width: 933px;
  }
  
  .screen .p {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 83px;
    left: 471px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 183px;
    width: 744px;
  }
  
  .screen .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    height: 73px;
    left: 1325px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 53px;
    width: 389px;
  }
  
  .screen .view-2 {
    background-color: #ffffff;
    height: 331px;
    left: 14px;
    position: absolute;
    top: 680px;
    width: 1739px;
  }
  
  .screen .view-3 {
    background-color: #ffffff;
    height: 331px;
    left: 14px;
    position: absolute;
    top: 1011px;
    width: 1739px;
  }
  
  .screen .chat {
    height: 204px;
    left: 1436px;
    object-fit: cover;
    position: absolute;
    top: 1342px;
    width: 194px;
  }
  